.skin-blue .sidebar-menu>li.non-active>a {
    border-left-color: black !important;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.profile-user-img-big {
    margin: 0 auto;
    width: 250px;
    padding: 3px;
    border: 3px solid #d2d6de;
}